@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background: #DE8252;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0 15px;
}

.wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
}

.square {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -60%);
  width: 343px;
  height: 343px;
  background: #EAAE5B;
}

.square span {
  display: block;
  width: 343px;
  height: 343px;
  margin-left: -40px;
}

.square h2 {
  text-transform: uppercase;
  display: block;
  position: absolute;
  left: -60%;
  top: 0;
  color: #0D3D63;
  transform: rotate(-90deg) translateX(-35%);
  font-family: Roboto;
  font-size: 90px;
  font-weight: 400;
}

.square p {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: Iceberg;
  font-size: 36px;
  font-style: normal;
}

.square2 {
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  position: absolute;
  width: 343px;
  height: 343px;
  border: solid 8px #0D3D63;
}

.square2 span {
  display: block;
  width: 343px;
  height: 343px;
  padding: 0 15px;
}

.square2 p {
  text-transform: uppercase;
  position: absolute;
  right: -60%;
  top: 0;
  transform: rotate(-90deg) translateX(-38%);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: right;
  color: #0D3D63;
  max-width: 300px;
}

svg {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 760px) {
  .square {
    transform: translate(-50%, -60%);
  }

  .square h2 {
    font-size: 100px;
    transform: rotate(0) translateX(0);
    left: 0;
    top: -100px;
  }

  .square2 {
    transform: translate(-40%, -50%);
  }

  .square2 p {
    transform: rotate(0) translateX(0);
    right: 0;
    top: 340px;
  }

  svg {
    transform: translate(-60%, -50%);
  }
}

@media (max-width: 375px) {
  .square {
    transform: translate(-47%, -50%);
  }

  .square2 {
    transform: translate(-43%, -45%);
  }

  svg {
    transform: translate(-50%, -45%);
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 760px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 375px){

@supports (-webkit-appearance:none){

}

}
